.center-txt {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                height: 100px;
                }

.subtext {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
}

div[data-baseweb="select"] > div:first-child {
  margin-bottom: 0.5em !important; 
}

div[data-baseweb="select"] {
    margin-bottom: 0.5em !important;
}

.center-txt h3.subtext {
    margin-top: 0.5em !important; 
}

.gradient-text {
    background: linear-gradient(90deg, #ff0000, #ffffff, #19ff65, #7104ff);
    background-size: 300% 300%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradientAnimation 12s ease infinite;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;

}

.pretty-gradient-button {
    background: linear-gradient(45deg, #df16e6, #34a4ff, #ff1010);
    background-size: 300% 300%; 
    color: white; 
    padding: 12px 24px; 
    border: none;
    border-radius: 30px; 
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    transition: all 0.4s ease-in-out; 
    animation: gradientAnimation 8s ease infinite; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.pretty-gradient-button:hover {
    transform: translateY(-3px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.popup-player {
    background-color: #1e1e2f;
    border-radius: 20px;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    animation: fadeInUp 0.8s ease-out;
    text-align: center;
    color: white;
}

.popup-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #ff00cc, #3333ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.audio-player {
    width: 100%;
    margin-bottom: 15px;
}

.popup-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.round-button {
    background-color: #34a4ff;
    border: none;
    border-radius: 50%;
    padding: 12px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
    justify-content: center;
    align-items: center;
}

.round-button:hover {
    transform: scale(1.1);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
